################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Documents
/Sgml parser/bin/Debug/netcoreapp2.2
/Sgml parser/obj
/Sgml parser/Sgml parser.csproj.user
